.myBlueButton {
  border: 2px solid #0a6ed1;
  color: #0a6ed1;
  border-radius: 4px;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  min-width: 2.5rem;
  text-align: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.myBlueButton:hover {
  background-color: #d1e9fd;
  color: #0854a0;
}
.myBlueButton:active {
  background-color: #a9d4f5;
  color: #083b77;
}
